<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatop.lambda.base.mapper.WfCodeScriptMapper" >
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfCodeScript" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="SCRIPT_ID" property="scriptId" jdbcType="BIGINT" />
    <result column="SCRIPT_NAME" property="scriptName" jdbcType="VARCHAR" />
    <result column="SCRIPT_TYPE" property="scriptType" jdbcType="INTEGER" />
    <result column="OWNER_PROJECT_ID" property="ownerProjectId" jdbcType="BIGINT" />
    <result column="REL_FLOW_ID" property="relFlowId" jdbcType="BIGINT" />
    <result column="REL_SNAPSHOT_VERSION" property="relSnapshotVersion" jdbcType="BIGINT" />
    <result column="REL_JOB_ID" property="relJobId" jdbcType="BIGINT" />
    <result column="REL_NODE_ID" property="relNodeId" jdbcType="BIGINT" />
    <result column="REL_CHAR_ID" property="relCharId" jdbcType="BIGINT" />
    <result column="SCRIPT_STATE" property="scriptState" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_OPER" property="lastUpdateOper" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_OPER" property="createOper" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yatop.lambda.base.model.WfCodeScript" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="SCRIPT_CONTENT" property="scriptContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    SCRIPT_ID, SCRIPT_NAME, SCRIPT_TYPE, OWNER_PROJECT_ID, REL_FLOW_ID, REL_SNAPSHOT_VERSION, 
    REL_JOB_ID, REL_NODE_ID, REL_CHAR_ID, SCRIPT_STATE, DESCRIPTION, STATUS, LAST_UPDATE_TIME, 
    LAST_UPDATE_OPER, CREATE_TIME, CREATE_OPER
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    SCRIPT_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yatop.lambda.base.model.WfCodeScriptExample" >
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wf_code_script
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yatop.lambda.base.model.WfCodeScriptExample" >
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_code_script
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.yatop.lambda.base.model.WfCodeScriptExample" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from wf_code_script
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.yatop.lambda.base.model.WfCodeScriptExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from wf_code_script
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update wf_code_script
    <set >
      <if test="record.scriptId != null" >
        SCRIPT_ID = #{record.scriptId,jdbcType=BIGINT},
      </if>
      <if test="record.scriptName != null" >
        SCRIPT_NAME = #{record.scriptName,jdbcType=VARCHAR},
      </if>
      <if test="record.scriptType != null" >
        SCRIPT_TYPE = #{record.scriptType,jdbcType=INTEGER},
      </if>
      <if test="record.ownerProjectId != null" >
        OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      </if>
      <if test="record.relFlowId != null" >
        REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      </if>
      <if test="record.relSnapshotVersion != null" >
        REL_SNAPSHOT_VERSION = #{record.relSnapshotVersion,jdbcType=BIGINT},
      </if>
      <if test="record.relJobId != null" >
        REL_JOB_ID = #{record.relJobId,jdbcType=BIGINT},
      </if>
      <if test="record.relNodeId != null" >
        REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      </if>
      <if test="record.relCharId != null" >
        REL_CHAR_ID = #{record.relCharId,jdbcType=BIGINT},
      </if>
      <if test="record.scriptState != null" >
        SCRIPT_STATE = #{record.scriptState,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateOper != null" >
        LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createOper != null" >
        CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      </if>
      <if test="record.scriptContent != null" >
        SCRIPT_CONTENT = #{record.scriptContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update wf_code_script
    set SCRIPT_ID = #{record.scriptId,jdbcType=BIGINT},
      SCRIPT_NAME = #{record.scriptName,jdbcType=VARCHAR},
      SCRIPT_TYPE = #{record.scriptType,jdbcType=INTEGER},
      OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      REL_SNAPSHOT_VERSION = #{record.relSnapshotVersion,jdbcType=BIGINT},
      REL_JOB_ID = #{record.relJobId,jdbcType=BIGINT},
      REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      REL_CHAR_ID = #{record.relCharId,jdbcType=BIGINT},
      SCRIPT_STATE = #{record.scriptState,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      SCRIPT_CONTENT = #{record.scriptContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update wf_code_script
    set SCRIPT_ID = #{record.scriptId,jdbcType=BIGINT},
      SCRIPT_NAME = #{record.scriptName,jdbcType=VARCHAR},
      SCRIPT_TYPE = #{record.scriptType,jdbcType=INTEGER},
      OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      REL_SNAPSHOT_VERSION = #{record.relSnapshotVersion,jdbcType=BIGINT},
      REL_JOB_ID = #{record.relJobId,jdbcType=BIGINT},
      REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      REL_CHAR_ID = #{record.relCharId,jdbcType=BIGINT},
      SCRIPT_STATE = #{record.scriptState,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="MysqlSuffix" >
    <if test="page != null" >
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
</mapper>