<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yatop.lambda.base.mapper.WfExecutionTaskMapper">
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfExecutionTask">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="TASK_ID" jdbcType="BIGINT" property="taskId" />
    <result column="OWNER_JOB_ID" jdbcType="BIGINT" property="ownerJobId" />
    <result column="OWNER_PATH_ID" jdbcType="BIGINT" property="ownerPathId" />
    <result column="SEQUENCE" jdbcType="INTEGER" property="sequence" />
    <result column="REL_NODE_ID" jdbcType="BIGINT" property="relNodeId" />
    <result column="ENGINE_TYPE" jdbcType="VARCHAR" property="engineType" />
    <result column="EXTERNAL_ID" jdbcType="VARCHAR" property="externalId" />
    <result column="SUBMIT_FILE" jdbcType="VARCHAR" property="submitFile" />
    <result column="RETURN_FILE" jdbcType="VARCHAR" property="returnFile" />
    <result column="LOG_FILE" jdbcType="VARCHAR" property="logFile" />
    <result column="COST_TIME" jdbcType="BIGINT" property="costTime" />
    <result column="TASK_STATE" jdbcType="INTEGER" property="taskState" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="LAST_UPDATE_OPER" jdbcType="VARCHAR" property="lastUpdateOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yatop.lambda.base.model.WfExecutionTask">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="TASK_CONTEXT" jdbcType="LONGVARCHAR" property="taskContext" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    TASK_ID, OWNER_JOB_ID, OWNER_PATH_ID, SEQUENCE, REL_NODE_ID, ENGINE_TYPE, EXTERNAL_ID, 
    SUBMIT_FILE, RETURN_FILE, LOG_FILE, COST_TIME, TASK_STATE, DESCRIPTION, STATUS, LAST_UPDATE_TIME, 
    LAST_UPDATE_OPER, CREATE_TIME, CREATE_OPER
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    TASK_CONTEXT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.yatop.lambda.base.model.WfExecutionTaskExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wf_execution_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.yatop.lambda.base.model.WfExecutionTaskExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_execution_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MysqlSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.yatop.lambda.base.model.WfExecutionTaskExample">
    <!--
      WARNING - @mbggenerated
    -->
    delete from wf_execution_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.yatop.lambda.base.model.WfExecutionTaskExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from wf_execution_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update wf_execution_task
    <set>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=BIGINT},
      </if>
      <if test="record.ownerJobId != null">
        OWNER_JOB_ID = #{record.ownerJobId,jdbcType=BIGINT},
      </if>
      <if test="record.ownerPathId != null">
        OWNER_PATH_ID = #{record.ownerPathId,jdbcType=BIGINT},
      </if>
      <if test="record.sequence != null">
        SEQUENCE = #{record.sequence,jdbcType=INTEGER},
      </if>
      <if test="record.relNodeId != null">
        REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      </if>
      <if test="record.engineType != null">
        ENGINE_TYPE = #{record.engineType,jdbcType=VARCHAR},
      </if>
      <if test="record.externalId != null">
        EXTERNAL_ID = #{record.externalId,jdbcType=VARCHAR},
      </if>
      <if test="record.submitFile != null">
        SUBMIT_FILE = #{record.submitFile,jdbcType=VARCHAR},
      </if>
      <if test="record.returnFile != null">
        RETURN_FILE = #{record.returnFile,jdbcType=VARCHAR},
      </if>
      <if test="record.logFile != null">
        LOG_FILE = #{record.logFile,jdbcType=VARCHAR},
      </if>
      <if test="record.costTime != null">
        COST_TIME = #{record.costTime,jdbcType=BIGINT},
      </if>
      <if test="record.taskState != null">
        TASK_STATE = #{record.taskState,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateTime != null">
        LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateOper != null">
        LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createOper != null">
        CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      </if>
      <if test="record.taskContext != null">
        TASK_CONTEXT = #{record.taskContext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update wf_execution_task
    set TASK_ID = #{record.taskId,jdbcType=BIGINT},
      OWNER_JOB_ID = #{record.ownerJobId,jdbcType=BIGINT},
      OWNER_PATH_ID = #{record.ownerPathId,jdbcType=BIGINT},
      SEQUENCE = #{record.sequence,jdbcType=INTEGER},
      REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      ENGINE_TYPE = #{record.engineType,jdbcType=VARCHAR},
      EXTERNAL_ID = #{record.externalId,jdbcType=VARCHAR},
      SUBMIT_FILE = #{record.submitFile,jdbcType=VARCHAR},
      RETURN_FILE = #{record.returnFile,jdbcType=VARCHAR},
      LOG_FILE = #{record.logFile,jdbcType=VARCHAR},
      COST_TIME = #{record.costTime,jdbcType=BIGINT},
      TASK_STATE = #{record.taskState,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      TASK_CONTEXT = #{record.taskContext,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update wf_execution_task
    set TASK_ID = #{record.taskId,jdbcType=BIGINT},
      OWNER_JOB_ID = #{record.ownerJobId,jdbcType=BIGINT},
      OWNER_PATH_ID = #{record.ownerPathId,jdbcType=BIGINT},
      SEQUENCE = #{record.sequence,jdbcType=INTEGER},
      REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      ENGINE_TYPE = #{record.engineType,jdbcType=VARCHAR},
      EXTERNAL_ID = #{record.externalId,jdbcType=VARCHAR},
      SUBMIT_FILE = #{record.submitFile,jdbcType=VARCHAR},
      RETURN_FILE = #{record.returnFile,jdbcType=VARCHAR},
      LOG_FILE = #{record.logFile,jdbcType=VARCHAR},
      COST_TIME = #{record.costTime,jdbcType=BIGINT},
      TASK_STATE = #{record.taskState,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
</mapper>