<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yatop.lambda.base.mapper.WfExecutionJobMapper">
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfExecutionJob">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="JOB_ID" jdbcType="BIGINT" property="jobId" />
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="JOB_TYPE" jdbcType="INTEGER" property="jobType" />
    <result column="OWNER_PROJECT_ID" jdbcType="BIGINT" property="ownerProjectId" />
    <result column="REL_FLOW_ID" jdbcType="BIGINT" property="relFlowId" />
    <result column="REL_SNAPSHOT_ID" jdbcType="BIGINT" property="relSnapshotId" />
    <result column="REL_NODE_ID" jdbcType="BIGINT" property="relNodeId" />
    <result column="DFS_EXEC_DIR" jdbcType="VARCHAR" property="dfsExecDir" />
    <result column="LOCAL_EXEC_DIR" jdbcType="VARCHAR" property="localExecDir" />
    <result column="JOB_SUBMIT_TIME" jdbcType="TIMESTAMP" property="jobSubmitTime" />
    <result column="JOB_START_TIME" jdbcType="TIMESTAMP" property="jobStartTime" />
    <result column="JOB_END_TIME" jdbcType="TIMESTAMP" property="jobEndTime" />
    <result column="JOB_STATE" jdbcType="INTEGER" property="jobState" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="LAST_UPDATE_OPER" jdbcType="VARCHAR" property="lastUpdateOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yatop.lambda.base.model.WfExecutionJob">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="JOB_CONTENT" jdbcType="LONGVARCHAR" property="jobContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    JOB_ID, JOB_NAME, JOB_TYPE, OWNER_PROJECT_ID, REL_FLOW_ID, REL_SNAPSHOT_ID, REL_NODE_ID, 
    DFS_EXEC_DIR, LOCAL_EXEC_DIR, JOB_SUBMIT_TIME, JOB_START_TIME, JOB_END_TIME, JOB_STATE, 
    DESCRIPTION, STATUS, LAST_UPDATE_TIME, LAST_UPDATE_OPER, CREATE_TIME, CREATE_OPER
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    JOB_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.yatop.lambda.base.model.WfExecutionJobExample" resultMap="ResultMapWithBLOBs">
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wf_execution_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.yatop.lambda.base.model.WfExecutionJobExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_execution_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MysqlSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.yatop.lambda.base.model.WfExecutionJobExample">
    <!--
      WARNING - @mbggenerated
    -->
    delete from wf_execution_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.yatop.lambda.base.model.WfExecutionJobExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from wf_execution_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update wf_execution_job
    <set>
      <if test="record.jobId != null">
        JOB_ID = #{record.jobId,jdbcType=BIGINT},
      </if>
      <if test="record.jobName != null">
        JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobType != null">
        JOB_TYPE = #{record.jobType,jdbcType=INTEGER},
      </if>
      <if test="record.ownerProjectId != null">
        OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      </if>
      <if test="record.relFlowId != null">
        REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      </if>
      <if test="record.relSnapshotId != null">
        REL_SNAPSHOT_ID = #{record.relSnapshotId,jdbcType=BIGINT},
      </if>
      <if test="record.relNodeId != null">
        REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      </if>
      <if test="record.dfsExecDir != null">
        DFS_EXEC_DIR = #{record.dfsExecDir,jdbcType=VARCHAR},
      </if>
      <if test="record.localExecDir != null">
        LOCAL_EXEC_DIR = #{record.localExecDir,jdbcType=VARCHAR},
      </if>
      <if test="record.jobSubmitTime != null">
        JOB_SUBMIT_TIME = #{record.jobSubmitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jobStartTime != null">
        JOB_START_TIME = #{record.jobStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jobEndTime != null">
        JOB_END_TIME = #{record.jobEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jobState != null">
        JOB_STATE = #{record.jobState,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateTime != null">
        LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateOper != null">
        LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createOper != null">
        CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      </if>
      <if test="record.jobContent != null">
        JOB_CONTENT = #{record.jobContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update wf_execution_job
    set JOB_ID = #{record.jobId,jdbcType=BIGINT},
      JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      JOB_TYPE = #{record.jobType,jdbcType=INTEGER},
      OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      REL_SNAPSHOT_ID = #{record.relSnapshotId,jdbcType=BIGINT},
      REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      DFS_EXEC_DIR = #{record.dfsExecDir,jdbcType=VARCHAR},
      LOCAL_EXEC_DIR = #{record.localExecDir,jdbcType=VARCHAR},
      JOB_SUBMIT_TIME = #{record.jobSubmitTime,jdbcType=TIMESTAMP},
      JOB_START_TIME = #{record.jobStartTime,jdbcType=TIMESTAMP},
      JOB_END_TIME = #{record.jobEndTime,jdbcType=TIMESTAMP},
      JOB_STATE = #{record.jobState,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      JOB_CONTENT = #{record.jobContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update wf_execution_job
    set JOB_ID = #{record.jobId,jdbcType=BIGINT},
      JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      JOB_TYPE = #{record.jobType,jdbcType=INTEGER},
      OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      REL_SNAPSHOT_ID = #{record.relSnapshotId,jdbcType=BIGINT},
      REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      DFS_EXEC_DIR = #{record.dfsExecDir,jdbcType=VARCHAR},
      LOCAL_EXEC_DIR = #{record.localExecDir,jdbcType=VARCHAR},
      JOB_SUBMIT_TIME = #{record.jobSubmitTime,jdbcType=TIMESTAMP},
      JOB_START_TIME = #{record.jobStartTime,jdbcType=TIMESTAMP},
      JOB_END_TIME = #{record.jobEndTime,jdbcType=TIMESTAMP},
      JOB_STATE = #{record.jobState,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
</mapper>