<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yatop.lambda.base.mapper.WfFlowNodeMapper">
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfFlowNode">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="NODE_ID" jdbcType="BIGINT" property="nodeId" />
    <result column="NODE_NAME" jdbcType="VARCHAR" property="nodeName" />
    <result column="OWNER_FLOW_ID" jdbcType="BIGINT" property="ownerFlowId" />
    <result column="REF_MODULE_ID" jdbcType="BIGINT" property="refModuleId" />
    <result column="POSITION_X" jdbcType="BIGINT" property="positionX" />
    <result column="POSITION_Y" jdbcType="BIGINT" property="positionY" />
    <result column="SEQUENCE" jdbcType="INTEGER" property="sequence" />
    <result column="LAST_TASK_ID" jdbcType="BIGINT" property="lastTaskId" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="NODE_STATE" jdbcType="INTEGER" property="nodeState" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="LAST_UPDATE_OPER" jdbcType="VARCHAR" property="lastUpdateOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    NODE_ID, NODE_NAME, OWNER_FLOW_ID, REF_MODULE_ID, POSITION_X, POSITION_Y, SEQUENCE, 
    LAST_TASK_ID, DESCRIPTION, NODE_STATE, STATUS, LAST_UPDATE_TIME, LAST_UPDATE_OPER, 
    CREATE_TIME, CREATE_OPER
  </sql>
  <select id="selectByExample" parameterType="com.yatop.lambda.base.model.WfFlowNodeExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_flow_node
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="MysqlSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.yatop.lambda.base.model.WfFlowNodeExample">
    <!--
      WARNING - @mbggenerated
    -->
    delete from wf_flow_node
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.yatop.lambda.base.model.WfFlowNodeExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from wf_flow_node
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update wf_flow_node
    <set>
      <if test="record.nodeId != null">
        NODE_ID = #{record.nodeId,jdbcType=BIGINT},
      </if>
      <if test="record.nodeName != null">
        NODE_NAME = #{record.nodeName,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerFlowId != null">
        OWNER_FLOW_ID = #{record.ownerFlowId,jdbcType=BIGINT},
      </if>
      <if test="record.refModuleId != null">
        REF_MODULE_ID = #{record.refModuleId,jdbcType=BIGINT},
      </if>
      <if test="record.positionX != null">
        POSITION_X = #{record.positionX,jdbcType=BIGINT},
      </if>
      <if test="record.positionY != null">
        POSITION_Y = #{record.positionY,jdbcType=BIGINT},
      </if>
      <if test="record.sequence != null">
        SEQUENCE = #{record.sequence,jdbcType=INTEGER},
      </if>
      <if test="record.lastTaskId != null">
        LAST_TASK_ID = #{record.lastTaskId,jdbcType=BIGINT},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.nodeState != null">
        NODE_STATE = #{record.nodeState,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateTime != null">
        LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateOper != null">
        LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createOper != null">
        CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
    -->
    update wf_flow_node
    set NODE_ID = #{record.nodeId,jdbcType=BIGINT},
      NODE_NAME = #{record.nodeName,jdbcType=VARCHAR},
      OWNER_FLOW_ID = #{record.ownerFlowId,jdbcType=BIGINT},
      REF_MODULE_ID = #{record.refModuleId,jdbcType=BIGINT},
      POSITION_X = #{record.positionX,jdbcType=BIGINT},
      POSITION_Y = #{record.positionY,jdbcType=BIGINT},
      SEQUENCE = #{record.sequence,jdbcType=INTEGER},
      LAST_TASK_ID = #{record.lastTaskId,jdbcType=BIGINT},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      NODE_STATE = #{record.nodeState,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
  <sql id="MysqlSuffix">
    <if test="page != null">
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
</mapper>