<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatop.lambda.base.mapper.WfJsonObjectMapper" >
  <resultMap id="BaseResultMap" type="com.yatop.lambda.base.model.WfJsonObject" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="OBJECT_ID" property="objectId" jdbcType="BIGINT" />
    <result column="OBJECT_NAME" property="objectName" jdbcType="VARCHAR" />
    <result column="OBJECTY_TYPE" property="objectyType" jdbcType="INTEGER" />
    <result column="OBJECT_SRC" property="objectSrc" jdbcType="INTEGER" />
    <result column="OWNER_PROJECT_ID" property="ownerProjectId" jdbcType="BIGINT" />
    <result column="REL_FLOW_ID" property="relFlowId" jdbcType="BIGINT" />
    <result column="REL_SNAPSHOT_VERSION" property="relSnapshotVersion" jdbcType="BIGINT" />
    <result column="REL_JOB_ID" property="relJobId" jdbcType="BIGINT" />
    <result column="REL_NODE_ID" property="relNodeId" jdbcType="BIGINT" />
    <result column="REL_CHAR_ID" property="relCharId" jdbcType="BIGINT" />
    <result column="STORAGE_LOCATION" property="storageLocation" jdbcType="INTEGER" />
    <result column="OBJECT_FILE" property="objectFile" jdbcType="VARCHAR" />
    <result column="OBJECT_STATE" property="objectState" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_OPER" property="lastUpdateOper" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_OPER" property="createOper" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yatop.lambda.base.model.WfJsonObject" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="OBJECT_DATA" property="objectData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    OBJECT_ID, OBJECT_NAME, OBJECTY_TYPE, OBJECT_SRC, OWNER_PROJECT_ID, REL_FLOW_ID, 
    REL_SNAPSHOT_VERSION, REL_JOB_ID, REL_NODE_ID, REL_CHAR_ID, STORAGE_LOCATION, OBJECT_FILE, 
    OBJECT_STATE, DESCRIPTION, STATUS, LAST_UPDATE_TIME, LAST_UPDATE_OPER, CREATE_TIME, 
    CREATE_OPER
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    OBJECT_DATA
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yatop.lambda.base.model.WfJsonObjectExample" >
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wf_json_object
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yatop.lambda.base.model.WfJsonObjectExample" >
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_json_object
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.yatop.lambda.base.model.WfJsonObjectExample" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from wf_json_object
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.yatop.lambda.base.model.WfJsonObjectExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from wf_json_object
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update wf_json_object
    <set >
      <if test="record.objectId != null" >
        OBJECT_ID = #{record.objectId,jdbcType=BIGINT},
      </if>
      <if test="record.objectName != null" >
        OBJECT_NAME = #{record.objectName,jdbcType=VARCHAR},
      </if>
      <if test="record.objectyType != null" >
        OBJECTY_TYPE = #{record.objectyType,jdbcType=INTEGER},
      </if>
      <if test="record.objectSrc != null" >
        OBJECT_SRC = #{record.objectSrc,jdbcType=INTEGER},
      </if>
      <if test="record.ownerProjectId != null" >
        OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      </if>
      <if test="record.relFlowId != null" >
        REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      </if>
      <if test="record.relSnapshotVersion != null" >
        REL_SNAPSHOT_VERSION = #{record.relSnapshotVersion,jdbcType=BIGINT},
      </if>
      <if test="record.relJobId != null" >
        REL_JOB_ID = #{record.relJobId,jdbcType=BIGINT},
      </if>
      <if test="record.relNodeId != null" >
        REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      </if>
      <if test="record.relCharId != null" >
        REL_CHAR_ID = #{record.relCharId,jdbcType=BIGINT},
      </if>
      <if test="record.storageLocation != null" >
        STORAGE_LOCATION = #{record.storageLocation,jdbcType=INTEGER},
      </if>
      <if test="record.objectFile != null" >
        OBJECT_FILE = #{record.objectFile,jdbcType=VARCHAR},
      </if>
      <if test="record.objectState != null" >
        OBJECT_STATE = #{record.objectState,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateOper != null" >
        LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createOper != null" >
        CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      </if>
      <if test="record.objectData != null" >
        OBJECT_DATA = #{record.objectData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update wf_json_object
    set OBJECT_ID = #{record.objectId,jdbcType=BIGINT},
      OBJECT_NAME = #{record.objectName,jdbcType=VARCHAR},
      OBJECTY_TYPE = #{record.objectyType,jdbcType=INTEGER},
      OBJECT_SRC = #{record.objectSrc,jdbcType=INTEGER},
      OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      REL_SNAPSHOT_VERSION = #{record.relSnapshotVersion,jdbcType=BIGINT},
      REL_JOB_ID = #{record.relJobId,jdbcType=BIGINT},
      REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      REL_CHAR_ID = #{record.relCharId,jdbcType=BIGINT},
      STORAGE_LOCATION = #{record.storageLocation,jdbcType=INTEGER},
      OBJECT_FILE = #{record.objectFile,jdbcType=VARCHAR},
      OBJECT_STATE = #{record.objectState,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR},
      OBJECT_DATA = #{record.objectData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update wf_json_object
    set OBJECT_ID = #{record.objectId,jdbcType=BIGINT},
      OBJECT_NAME = #{record.objectName,jdbcType=VARCHAR},
      OBJECTY_TYPE = #{record.objectyType,jdbcType=INTEGER},
      OBJECT_SRC = #{record.objectSrc,jdbcType=INTEGER},
      OWNER_PROJECT_ID = #{record.ownerProjectId,jdbcType=BIGINT},
      REL_FLOW_ID = #{record.relFlowId,jdbcType=BIGINT},
      REL_SNAPSHOT_VERSION = #{record.relSnapshotVersion,jdbcType=BIGINT},
      REL_JOB_ID = #{record.relJobId,jdbcType=BIGINT},
      REL_NODE_ID = #{record.relNodeId,jdbcType=BIGINT},
      REL_CHAR_ID = #{record.relCharId,jdbcType=BIGINT},
      STORAGE_LOCATION = #{record.storageLocation,jdbcType=INTEGER},
      OBJECT_FILE = #{record.objectFile,jdbcType=VARCHAR},
      OBJECT_STATE = #{record.objectState,jdbcType=INTEGER},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_OPER = #{record.lastUpdateOper,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_OPER = #{record.createOper,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="MysqlSuffix" >
    <if test="page != null" >
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
</mapper>