/*
!/lambda-base/
!/lambda-core/
!/lambda-tools/
!/lambda-workflow-core/
!/lambda-workflow-module/
!/lambda-workflow-engine/
!/lambda-manager/
!/lambda-manager-ui/
!/lambda-open/
!/lambda-decision/
!/lambda-cluster-adapter/
!/lambda-framework/
!/lambda-mybatis-generator/
!/lambda-component/
!/lambda-component-python/
!/lambda-component-r/
!pom.xml
!.gitignore