<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatop.lambda.portal.dao.DwDataTableMapper" >
  <resultMap id="BaseResultMap" type="com.yatop.lambda.portal.model.DwDataTable" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TABLE_ID" property="tableId" jdbcType="BIGINT" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="TABLE_TYPE" property="tableType" jdbcType="INTEGER" />
    <result column="TABLE_SRC" property="tableSrc" jdbcType="INTEGER" />
    <result column="OWNER_DW_ID" property="ownerDwId" jdbcType="BIGINT" />
    <result column="REL_FLOW_ID" property="relFlowId" jdbcType="BIGINT" />
    <result column="REL_NODE_ID" property="relNodeId" jdbcType="BIGINT" />
    <result column="REL_CHAR_ID" property="relCharId" jdbcType="VARCHAR" />
    <result column="REL_TASK_ID" property="relTaskId" jdbcType="BIGINT" />
    <result column="TABLE_COLUMNS" property="tableColumns" jdbcType="BIGINT" />
    <result column="TABLE_ROWS" property="tableRows" jdbcType="BIGINT" />
    <result column="DATA_FILE_TYPE" property="dataFileType" jdbcType="INTEGER" />
    <result column="DATA_FILE_SIZE" property="dataFileSize" jdbcType="BIGINT" />
    <result column="DATA_FILE" property="dataFile" jdbcType="VARCHAR" />
    <result column="DATA_SUMMARY_FILE" property="dataSummaryFile" jdbcType="VARCHAR" />
    <result column="TABLE_STATE" property="tableState" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_OPER" property="lastUpdateOper" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_OPER" property="createOper" jdbcType="VARCHAR" />
  </resultMap>
</mapper>