<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatop.lambda.portal.dao.PrProjectMemberMapper" >
  <resultMap id="BaseResultMap" type="com.yatop.lambda.portal.model.PrProjectMember" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PROJECT_ID" property="projectId" jdbcType="BIGINT" />
    <result column="PROJECT_ROLE" property="projectRole" jdbcType="INTEGER" />
    <result column="MEMBER_USER" property="memberUser" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_OPER" property="lastUpdateOper" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_OPER" property="createOper" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findProjectMemberWithUser" resultType="ProjectMemberWithUser" parameterType="String">
    select result.memberUser,result.projectRole,result.createTime,u.EMAIL email,
    u.MOBILE mobile,u.STATUS status,u.USER_REL_NAME userRelName
    from (select ppm.MEMBER_USER memberUser,ppm.PROJECT_ROLE,projectRole,ppm.CREATE_TIME createTime
    from pr_project_member ppm  where ppm.PROJECT_ID=#{projectId} AND ppm.STATUS==0) result
    left join t_user u on result.memberUser=u.USERNAME
  </select>
</mapper>