<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatop.lambda.portal.dao.PrProjectMemberMapper" >
  <resultMap id="BaseResultMap" type="com.yatop.lambda.portal.model.PrProjectMember" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PROJECT_ID" property="projectId" jdbcType="BIGINT" />
    <result column="PROJECT_ROLE" property="projectRole" jdbcType="INTEGER" />
    <result column="MEMBER_USER" property="memberUser" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_OPER" property="lastUpdateOper" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_OPER" property="createOper" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findProjectMemberWithUser" resultType="ProjectMemberWithUser" parameterType="String">
    select * from pr_project_member ppm left join
  </select>
</mapper>