<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yatop.lambda.portal.dao.UserMapper" >
    <resultMap id="BaseResultMap" type="com.yatop.lambda.portal.model.User" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="USER_ID" property="userId" jdbcType="BIGINT" />
        <result column="USERNAME" property="username" jdbcType="VARCHAR" />
        <result column="USER_REL_NAME" property="userRelName" jdbcType="VARCHAR" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="DEPT_ID" property="deptId" jdbcType="BIGINT" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="CHAR" />
        <result column="CRATE_TIME" property="crateTime" jdbcType="TIMESTAMP" />
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
        <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
        <result column="SSEX" property="ssex" jdbcType="CHAR" />
        <result column="THEME" property="theme" jdbcType="VARCHAR" />
        <result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    </resultMap>



    <select id="findUserWithDept" parameterType="user" resultType="user">
        select u.user_id userId,u.username,u.USER_REL_NAME userRelName,u.email,u.mobile,u.status,u.crate_time crateTime,
        u.ssex,d.dept_name deptName from sys_manage_user u
        left join sys_manage_dept d on(u.dept_id = d.dept_id)
        where 1=1
        <if test="username != null and username != ''">
            AND u.username = #{username}
        </if>
        <if test="deptId != null and deptId != ''">
            AND d.dept_id = #{deptId}
        </if>
        <if test="ssex != null and ssex != ''">
            AND u.ssex = #{ssex}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>

        order by u.user_id
    </select>

    <select id="findUserByConditions" parameterType="user" resultType="user">
        select u.user_id userId,u.username,u.USER_REL_NAME userRelName,u.email,u.mobile,u.status,u.crate_time crateTime,
        u.ssex,d.dept_name deptName from sys_manage_user u
        left join sys_manage_dept d on(u.dept_id = d.dept_id)
        where 1=1
        <if test="username != null and username != ''">
            AND u.username like CONCAT('%',#{username},'%')
        </if>
        <if test="deptId != null and deptId != ''">
            AND d.dept_id = #{deptId}
        </if>
        <if test="ssex != null and ssex != ''">
            AND u.ssex = #{ssex}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>

        order by u.user_id
    </select>



    <select id="findUserWithRole" resultType="userWithRole">
		select u.user_id userId,u.username,u.user_rel_name userRelName,u.dept_id deptId,u.email,u.mobile,
		u.status,u.ssex,ur.role_id roleId from sys_manage_user u
		left join sys_manage_user_role ur on (u.user_id = ur.user_id)
		where u.user_id = #{userId}
  </select>

    <select id="findUserWithMenu" resultType="userWithMenu">
		select u.user_id userId,u.username,u.user_rel_name userRelName,u.dept_id deptId,u.email,u.mobile,
		u.status,u.ssex,um.menu_id menuId from sys_manage_user u
		left join sys_manage_user_menu um on (u.user_id = um.user_id)
		where u.user_id = #{userId}
  </select>

    <select id="findUserProfile" parameterType="user" resultType="user">
	SELECT
		U .USERNAME,
		U .USER_REL_NAME userRelName,
		U .USER_ID userId,
		D .DEPT_NAME deptName,
		U .mobile,
		U .email,
		U .avatar,
		U .description,
		U .ssex,
		U .dept_id deptId,
		group_concat(r.role_name) AS roleName
	FROM
		sys_manage_user U
	LEFT JOIN sys_manage_dept D ON U .DEPT_ID = D .DEPT_ID
	LEFT JOIN sys_manage_user_role ur ON U .user_id = ur.user_id
	LEFT JOIN sys_manage_role r ON r.role_id = ur.role_id
	WHERE
		U .USER_ID = #{userId}
	GROUP BY
		U .username,
		U .user_rel_name,
		D .dept_name,
		U .mobile,
		U .email,
		U .avatar,
		U .description,
		U .ssex,
		U .USER_ID,
		U .dept_id
  </select>
</mapper>